backend:
  name: git-gateway

media_folder: "site/static/img" # Folder where user uploaded files should go
public_folder: "img"

collections: # A list of collections the CMS should be able to edit
  - name: "post" # Used in routes, ie.: /admin/collections/:slug/edit
    label: "Image Post Link" # Used in the UI, ie.: "New Post"
    folder: "site/content/post" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Link to", name: "destination", widget: "string", pattern: ['https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)', 'Must be a URL starting with http']}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Expiry Date", name: "expirydate", widget: "datetime"}
      - {label: "Image", name: "image", widget: "image", required: true}
  - name: "link"
    label: "Profile Link"
    folder: "site/content/link"
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Link to", name: "destination", widget: "string", pattern: ['https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)', 'Must be a URL starting with http']}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Icon Link", name: "icon", widget: "string", required: false}
      - {label: "Button Background Color", name: "backgroundcolor", widget: "color", required: false}
      - {label: "Button Text Color", name: "textcolor", widget: "color", required: false}
      - {label: "Button Style", name: "class", widget: "string"}